body {
  font-family: 'Comic Sans MS';
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.sr-only {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}
.language-wrapper ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.language-wrapper li {
  margin-right: 20px;
}
.site-navigation-wrapper {
  background: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation-drawer__toggle{
  cursor: pointer;
  padding: 15px;
}
.navigation-drawer__toggle > svg {
 fill: #fff;
}
.site-navigation {
  color: #fff;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 30px;
}
.navigation-drawer {
  display: none;
}
.navigation-drawer__close {
  display: none;
}
.navigation-drawer__open {
  display: block;
}
.site-navigation-item a {
  color: #fff;
  text-decoration: none;
}
.site-navigation-item:first-child {
  margin-right: 15px;
}
.site-navigation-item a:hover {
  color: #44a6bd;
}
img {
  max-width: 100%;
}
.site-content {
  text-align: center;
}
.top-section-wrapper {
  background: #999;
  color: #fff;
  font-weight: 500;
  padding: 50px 7px;
}
.top-section {
  margin: 10px auto;
}
.top-section-content {
  font-size: 15px;
  font-weight: 600;
  margin: 20px 10px;
}
.top-section-btn {
  border: 2px solid #000;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 30px;
}
.bottom-section {
  color: #2b2b2b;
  font-size: 13px;
  margin: 30px auto;
  padding: 0 15px;
}
.bottom-section > img {
  max-width: 50%;
}
.flex-right > header {
  font-size: 12px;
}
html[dir="rtl"] .site-navigation-item:first-child {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .site-content {
    text-align: left;
  }
  .top-section-wrapper {
    color: #000;
    padding: 50px 30px;
    text-align: center;
  }
  .top-section {
    margin-top: 35px;
    width: 65%;
  }
  .flex-left > header {
    font-size: 20px;
  }
  .top-section-content {
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
  }
  .top-section-content > p {
    font-size: 18px;
    font-weight: 600;
  }
  .top-section-btn {
    padding: 15px;
    width: 90%;
  }
  .bottom-section {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }
  .bottom-section > img {
    max-width: 40%;
  }
  .flex-right {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
  }
  .flex-right > header {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .navigation-drawer__toggle {
    display: none;
  }
  .navigation-drawer {
    display: block;
  }
  .top-section {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
  }
  .flex-left {
    text-align: left;
    width: 50%;
  }
  .top-section-btn {
    padding-left: 30px;
    width: auto;
  }
  .bottom-section-wrapper {
    display: flex;
    margin: 50px auto;
    width: 90%;
  }
  .bottom-section {
    display: block;
    text-align: center;
    width: 50%;
  }
  .bottom-section p {
    margin: auto;
    width: 60%;
  }
}
